@media (max-width: 768px) {
    .topo {
        flex-direction: column;
        padding: 15px;
    }
    
    .barra-navegacao {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
body {
    margin: 0;
    background-color: #27598e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topo {
    background-color: #216697;
    padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.barra-navegação {
    list-style: none; 
    display: flex;
    gap: 20px;
    margin-right: 50px; 
}

.barra-navegação li {
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: #1b5680;
    border-radius: 10px;
}

.barra-navegação li:hover{
    background-color: #1b568067;
    border-radius: 10px;
}
.titulo-principal{
    text-align: center;

}
.subtitulo{
    font-style: italic;
}
