@media (max-width: 768px) {
    .topo {
        flex-direction: column;
        padding: 15px;
    }
    
    .barra-navegacao {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
body {
    margin: 0;
    background-color: #27598e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
 
/*header*/
.topo {
    background-color: #216697;
    padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.barra-navegação {
    list-style: none; 
    display: flex;
    gap: 20px;
    margin-right: 50px; 
}

.barra-navegação li {
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: #1b5680;
    border-radius: 10px;
}
.barra-navegação li:hover{
    background-color: #1b568067;
    border-radius: 10px;
}

/*Texto principal*/
.titulo-principal{
    text-align: center;

}
.subtitulo{
    font-style: italic;
}
a {
    text-decoration: none;
    color: inherit;
}

/*Página das redes sociais*/

.redes{
    text-align: center;
}
.insta, .whats, .face{
    background-color: rgba(255, 255, 255, 0.199);
    color: black;
    padding: 3px;
    padding-right: 3px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    display:inline-flex;
    justify-content: center;
    margin: 20px auto;
}
.insta > p, .whats > p, .face > p{
    margin-left: 3px;
}
.insta > img, .whats > img, .face > img{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}
.insta > img:hover, .whats > img:hover, .face > img:hover{
    background-color: rgba(255, 255, 255, 0.137);
}