body {
    margin: 0;
    background-color: white;
}

.topo {
    background-color: #0378A6;
    padding: 5px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.barra-navegação {
    list-style: none; 
    display: flex;
    gap: 20px;
    margin-right: 50px; 
}

.barra-navegação li {
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

.barra-navegação li:hover{
    background-color: rgb(15, 8, 2);
    border-radius: 10px;
}
